/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden;
    height: auto !important;
    width: 200px;
    cursor: text;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style-type: none;
    clear: left;
    border-radius: 5px;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden;
    height: auto !important;
    margin: 3px;
    font-weight: bold;
    cursor: default;
    display: inline-block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;

}

div.token-input-dropdown p {
    font-weight: bold;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-family: Verdana, sans-serif;
    z-index: 1;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    list-style-type: none;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown p,
  div.token-input-dropdown ul li.token-input-dropdown-item,
  div.token-input-dropdown ul li.token-input-dropdown-item2{
  background-color: #111;
  color: #fff;
  height: 35px;
}



div.token-input-dropdown ul li.token-input-selected-dropdown-item,
  li.token-input-token,
  li.token-input-token p{
    background-color: #d0efa0;
    color: #000;
    cursor: pointer;
}
